{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action=""method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-gruop">
            <legend class="border-bottom mb-4 text-center">Update Form</legend>
            
            <div class="form-gruop">
                {{ form.bio.label(class="form-control-label")}}

                {% if form.bio.errors %}
                    {{ form.bio(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.bio.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ form.bio(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <br><br>
            <div class="form-gruop">
                {{ form.submit (class="btn btn-primary")}}
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}