{% extends 'base.html'%}
{% block content %}
    <!-- Popular Movie Section -->
        <!-- Popular movie -->
    <div class="container mt-5">
        <form>
            <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
            <input type="submit"  value="Submit" class="mt-2 btn btn-primary">
        </form>
    
    </div>
    <div class="container">
        <h3> Popular Movies</h3>
        <ul>
            {{ macro.displayMovieList(popular)}}
        </ul>

        <!-- Upcoming movie  -->
        <h3> Upcoming Movies </h3>
        <ul>
            {{ macro.displayMovieList(upcoming)}}
        </ul>
        <!-- Now showing movie -->
        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayMovieList(now_showing)}}
        </ul>
    </div>
        
{% endblock  %}